{# component for piedweb-devoluix-theme #}

{% extends '@!PiedWebCMS/page/_pages_list.html.twig' %}



{% block header %}
    {% if page.mainImage is defined and page.mainImage is not null %}
        <div class="card-header card-header-img">
            {% set image = page.mainImage %}
            <picture>
                <source srcset="{{ image.fullPathWebP|imagine_filter('thumb') }}" />
                <img
                    class="card-img-top img-fluid rounded"
                    loading=lazy
                    alt="{{ page.title|striptags }}"
                    src="{{ image.fullPath|imagine_filter('thumb') }}"
                    width="10000" height="10000" />
            </picture>
            <div class="shadow-color" data-bg="{{ image.fullPath|imagine_filter('thumb') }}" data-bg-webp="{{ image.fullPathWebP|imagine_filter('thumb') }}"></div>
        </div>
    {% endif %}
{% endblock %}
