{% extends '@PiedWebCMS/page/page_default.html.twig' %}

{#

hero_wrapper
hero_container


OtherProperties:
    main_image_multiple             string      Multiple image's uri seprate with `;` (ex: winter:/media/defaut/winter.jpg)
#}

{% block content %}
    {% if page.mainImage is not null %}

    {% block content_title %}
    <div
        class="{{ page.hero_wrapper ?? hero_wrapper|default('col-12 order-3 hero-banner hero-banner-overlay-lg mt-nnav') }}"
        style="background:{{ page.mainImage.mainColor }}"
    >
        <div class="{{ page.hero_container|default(hero_container ?? 'container container-txt') }}">
            <div class="{{ page.hero_position|default(hero_position ?? 'stick-bottom mt-nav pt-5 pb-lg-3 pb-5')}}{{ main_image_blur is defined ? ' blur': ''}}">

                {% block subTitle %}
                    {% if page.subtitle is not null %}
                        <div class="text-uppercase first-letter-lg mb-2">{{ page.subtitle|raw  }}</div>
                    {% endif %}
                {% endblock %}

                {% block h1 %}
                    <h1 class="font-weight-bold mb-2">{{ page.h1|default(page.title)|raw }}</h1>
                {% endblock %}

                {% block description %}
                    {% if page.chapeau is not null %}
                        {% include(template_from_string(page.chapeau)) %}
                    {% endif %}
                {% endblock %}
            </div>
        </div>

        {% block main_image %}
            {% if page.mainImage is not null %}
                {%
                    include '@PiedWebCMS/component/_inline_image.html.twig' with {
                        'image_src': page.mainImage.fullPath|imagine_filter('default'),
                        'image_alt': page.mainImage.name(page.locale, true)|default(page.title)|striptags,
                    }
                %}

            {% endif %}
        {% endblock %}
    </div>
    {% endblock %}

    <div {{ mergeAttr(
            {'class': 'col-12 order-4'},
            {'class': page.container|default(container ?? 'container container-txt py-5')}
        ) }} id="content">

        {% block main_content %}
            {% apply punctuation_beautifer %}
                {{ include(template_from_string(page.readableContent)) }}
            {% endapply %}
        {% endblock %}

    </div>

    {% else %}
        {{ parent() }}
    {% endif %}

{% endblock %}
